<map name="graph-map">
  <area shape="rect" coords="37,51,297,163" href="javascript:window.router.filterByFocalArea('Responses')" alt="" title="" />
  <area shape="rect" coords="531,51,764,171" href="javascript:window.router.filterByFocalArea('Pressures')" alt="" title="" />
  <area shape="rect" coords="34,350,275,474" href="javascript:window.router.filterByFocalArea('State')" alt="" title="" />
  <area shape="rect" coords="560,350,769,474" href="javascript:window.router.filterByFocalArea('Benefits')" alt="" title="" />
</map>
<img src="assets/graph.png" usemap="#graph-map">
<div id="focal-areas-container"></div>