<h1>Select a section to view the matching indicators.</h1>
<div class="tab-content-main">
<map name="graph-map">
  <area shape="rect" coords="26,37,209,116" href="javascript:window.router.filterByFocalArea('Responses')" alt="" title="" />
  <area shape="rect" coords="375,38,542,121" href="javascript:window.router.filterByFocalArea('Pressures')" alt="" title="" />
  <area shape="rect" coords="392,248,543,331" href="javascript:window.router.filterByFocalArea('State')" alt="" title="" />
  <area shape="rect" coords="24,252,187,335" href="javascript:window.router.filterByFocalArea('Benefits')" alt="" title="" />
</map>
<img src="assets/graph.png" usemap="#graph-map">
</div>
<div id="focal-areas-container" class="tab-content-main row-fluid"></div>