<h1>New focal_area</h1>

<form id="new-focal_area" name="focal_area">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Focal area" />
  </div>

</form>

<a href="#/index">Back</a>