<h1>Edit partner</h1>

<form id="edit-partner" name="partner">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Partner" />
  </div>

</form>

<a href="#/index">Back</a>