<div class="span3 goal_<%= code %>">
  <div class="goal_code"><%= code %></div>
  <div class="goal_title">
    <div class="title_field"><%= title %></div>
  </div>
</div>
<div class="span9 targets"></div>
