<h1>Select a target to view the matching indicators.</h1>
<div id="goals-header" class="row-fluid">
  <div class="span3">
  GOALS
  </div>
  <div class="span9">
  TARGETS
  </div>
</div>
<div id="goals-container" class="tab-content-main"></div>
