<h1>New goal</h1>

<form id="new-goal" name="goal">
  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Goal" />
  </div>

</form>

<a href="#/index">Back</a>