<h1>Edit headline</h1>

<form id="edit-headline" name="headline">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="position"> position:</label>
    <input type="text" name="position" id="position" value="<%= position %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Headline" />
  </div>

</form>

<a href="#/index">Back</a>