<div class="code <% if(selected) { %> selected<% } %>"><%= code %></div>
<div class="title select-headline<% if(selected) { %> selected<% } %>"><%= title %></div>
<div class="indicator-count"><span><%= indicatorCnt %></span> indicators</div>
