<div class="headline_code span1 <% if(selected) { %> selected<% } %>"><%= code %></div>
<div class="title span9 select-headline<% if(selected) { %> selected<% } %>"><%= title %></div>
<div class="headlines-indicator-count"><%= indicatorCnt %> indicators</div>
