<ul class="nav nav-tabs">
  <li class="active"><a href="#matrix" data-toggle="tab">Matrix</a></li>
  <li><a href="#graphic" data-toggle="tab">Graphic</a></li>
  <li><a href="#headlines" data-toggle="tab">Headlines</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="matrix">
    <div id="goals"></div>
  </div>
  <div class="tab-pane" id="graphic">
    <h1>Graphic</h1>
  </div>
  <div class="tab-pane" id="headlines">
    <div id="headlines"></div>
  </div>
</div>

<div id="indicators"></div>

<script type="text/javascript">
$(function() {
  window.router = new BIPIndicatorsPage.Routers.IndicatorsRouter({indicators: <%= @indicators.to_json.html_safe -%>, goals: <%= @goals.to_json(:include => :targets).html_safe -%>, headlines: <%= @headlines.to_json.html_safe -%>, partners: <%= @partners.to_json.html_safe -%>});
  Backbone.history.start();
});
</script>
