body {
  font-size: 11px;
  font-family: Arial;
}

.grey-font {
  color: #666666;
}

.indicator-cnt-0 {
  background-color: #ffffff;
  color: #666666;
}

.indicator-cnt-1 {
  background-color: #dbe4ed;
  color: #666666;
}

.indicator-cnt-2 {
  background-color: #91adc7;
  color: #ffffff;
}

.indicator-cnt-3 {
  background-color: #5e87ae;
  color: #ffffff;
}

.indicator-cnt-4 {
  background-color: #296093;
  color: #ffffff;
}

#goals-container {
  & > div {
    clear: both;
  }

  .goal_code {
    float: left;
    width: 15%;
    line-height: 32px;
    font-size: 32px;
    vertical-align: top;
    @extend .grey-font;
  }

  .goal_title {
    float: left;
    width: 85%;
    line-height: 18px;
    font-size: 11px;
  }
}

#targets-container {
  & > div {
    cursor: pointer;
    cursor: hand;
    float: left;
    width: 80px;
    height: 80px;
    padding: 5px;
  }

  & > div.selected {
    background: #000000;
  }

  .code {
    width: 100%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    line-height: 40px;
  }

  .keyword {
    width: 100%;
    font-size: 11px;
  }

}

#headlines-container {
  & > div {
    margin-bottom: 10px;
  }
}

#graphic {
  img {
    float: left;
  }

  button {
    float: left;

    &.first {
      clear: both;
    }
  }
}
