body {
  font-size: 11px;
  font-family: Arial;
}

$light-grey: #666666;
$dark-grey: #333333;
$light-blue1: #dbe4ed;
$light-blue2: #91adc7;
$medium-blue1: #5e87ae;
$medium-blue2: #296093;
$dark-blue1: #42729f;
$highlight-color: #abc0d5;
$inactive-tab-color: #d9e3ec;
$active-tab-color: #00417e;

.big-font {
  font-size: 22px;
}

.medium-font {
  font-size: 16px;
}

.grey-font {
  color: $light-grey;
}

.blue-border {
  border: 1px solid $dark-blue1;
}

#indicators-count-legend {
  @extend .blue-border;
  height: 18px;
  margin: 15px;
  & > div {
    float: left;
    margin: 0;
    padding: 0;
    text-align: right;
  }
}

.indicator-cnt-0 {
  background-color: $light-blue1;
  color: $light-grey;
}

.indicator-cnt-1 {
  background-color: $light-blue2;
  color: #ffffff;
}

.indicator-cnt-2 {
  background-color: $medium-blue1;
  color: #ffffff;
}

.indicator-cnt-3 {
  background-color: $medium-blue2;
  color: #ffffff;
}

$matrix-target-height: 60px;
$matrix-target-width: $matrix-target-height;

#goals-container {
  & > div {
    clear: both;
  }

  .goal_code {
    float: left;
    width: 15%;
    line-height: 32px;
    font-size: 32px;
    vertical-align: top;
    @extend .grey-font;
  }

  .goal_title {
    float: left;
    width: 85%;
    line-height: 18px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: $matrix-target-height + 10px;
  }
}

#targets-container {
  & > div {
    cursor: pointer;
    cursor: hand;
    float: left;
    width: $matrix-target-height;
    height: $matrix-target-width;
    padding: 5px;
  }

  & > div.selected {
    background: #000000;
  }

  .code {
    width: 100%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    @extend .big-font;
    line-height: $matrix-target-height / 2;
  }

  .keyword {
    width: 100%;
    font-size: 11px;
    line-height: 11px;
  }

}

#headlines-container {
  & > div {
    padding: 10px;
  }
}

#graphic {
  img {
    float: left;
  }

  button {
    float: left;

    &.first {
      clear: both;
    }
  }
}

#search {
  height: 70px;
}

.ui-autocomplete {
  background: #FFFFFF;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

#filters-and-results {
  @extend .blue-border;

  hr {
    margin: 0 15px;
    border-top: 1px solid $dark-blue1;
  }
}

#filters {
  background-color: $dark-blue1;
  height: 32px;
  select {
    background-color: $dark-blue1;
    color: #FFFFFF;
    height: 28px;
    margin-top: 2px;
    margin-left: 2px;
    width: 100%;
  }
  button {
    margin-top: 5px;
  }
}

#indicators-results-controls {
  height: 60px;
  clear: both;
  color: $dark-grey;
  & > div:nth-child(2){
    @extend .medium-font;
    margin-top: 15px;
  }
  & > div:nth-child(3){
    text-align: right;
    a {
      margin-right:15px;
      color: #666666;
    }
  }
  #indicators-count {
    margin-left: 15px;
    width: 60px;
    height: 35px;
    padding-top: 15px;
    float: left;
    span {
      @extend .big-font;
    }
  }
}

#indicators-container {
  a, a:hover {
    text-decoration: none;
    color: $dark-grey;
  }
  border-top: 1px solid $dark-blue1;
  padding-top: 15px;
  margin: 0 15px;
  span.title {
    line-height: 22px;
  }
  & > div.highlighted {
    background-color: $highlight-color;
  }
}

.nav {
  margin-bottom: 0;
  li {
    width: 190px;
  }
  a {
    background-color: $inactive-tab-color;
    display: block;
    height: 50px;
    @extend .medium-font;
    @extend .grey-font;

    & > div {
      float: left;
      width: 80px;
    }
  }

  .active > a, .active > a:hover {
    background-color: $active-tab-color;
  }

  img {
    float: left;
    margin-right: 10px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
  }
}

.tab-content {
  @extend .blue-border;
}
