/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Evan O'Neil                        */
/*              http://www.NukeVille.com                  */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- conatiner title token             --*/ .EON_MI_OCF05Title { font-size: 11px; font-family: tahoma; color: #FFF; font-weight: bold; }
/*-- container title cell              --*/ .EON_MI_OCF05Titletd { width:100%; padding: 0;}
/*-- container actions cell            --*/ .EON_MI_OCF05Actionstd { width:0%; padding: 0;}
/*-- container content pane            --*/ .EON_MI_OCF05Content { font-size: 11px; font-family: tahoma; color: #444; padding: 5px 0 0 0;}
/*-- container Icons cell              --*/ .EON_MI_OCF05Icons { text-align:right; padding: 5px 0 7px 0; border-top: 1px solid #BBBBBB;}

/*-- top center section                --*/ .GreenBrdr05T { background: url(05Greent_Minimalist.png) top left repeat-x; vertical-align:middle; height: 28px; padding: 0 0 1px 0; }
/*-- top left section                  --*/ .GreenBrdr05TL { background: url(05Greentl_Minimalist.png) top left no-repeat; vertical-align:top; height: 28px; width:10px; padding: 0; }
/*-- top right section                 --*/ .GreenBrdr05tr { background: url(05Greentr_Minimalist.png) top right no-repeat; height: 28px; width:22px; vertical-align:middle; text-align:left; padding: 0 0 2px 0; }

/*-- mid center section                --*/ .GreenBrdr05M { background: url(05Greenm_Minimalist.png); vertical-align:top; padding: 0; }
/*-- mid left section                  --*/ .GreenBrdr05ML { background: url(05Greenml_Minimalist.png) bottom left repeat-y; vertical-align:top; width:10px; padding: 0; }
/*-- mid right section                 --*/ .GreenBrdr05MR { background: url(05Greenmr_Minimalist.png) bottom right repeat-y; vertical-align:top; width:10px; padding: 0; }

/*-- bottom center section             --*/ .GreenBrdr05B { background: url(05Greenb_Minimalist.png) bottom left repeat-x; vertical-align:top; height: 17px; padding: 8px 0 0 0; }
/*-- bottom left section               --*/ .GreenBrdr05BL { background: url(05Greenbl_Minimalist.png) bottom left no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }
/*-- bottom right section              --*/ .GreenBrdr05BR { background: url(05Greenbr_Minimalist.png) bottom right no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }

/*========================================================*/

