/*========================================================*/
/*         CSS for DotNetNuke Skin - Minimalist           */
/*                   by Evan O'Neil                       */
/*             http://www.NukeVille.com                   */
/*========================================================*/

/*========================================================*/
/*  Outer Box Elements - boxed skins only                 */
/*========================================================*/

/*-- used for setting attribute    --*/ .SkinBox {}
/*-- boxed skins outer box table   --*/ .SkinBox .MainBox { height:100%; }
/*-- top left corner               --*/ .SkinBox .BoxTL { width:12px; height:12px; background: url(dks-box-tl.png) no-repeat bottom left; }
/*-- top edge                      --*/ .SkinBox .BoxT { height:12px; background: url(dks-box-t.png) repeat-x bottom left; }
/*-- top right corner              --*/ .SkinBox .BoxTR { width:12px; height:12px; background: url(dks-box-tr.png) no-repeat bottom right; }
/*-- left edge                     --*/ .SkinBox .BoxL { width:12px; background: url(dks-box-l.png) repeat-y top left; }
/*-- content area                  --*/ .SkinBox .BoxM { background: #FFF; }
/*-- right edge                    --*/ .SkinBox .BoxR { width:12px; background: url(dks-box-r.png) repeat-y top right; }
/*-- bottom left corner            --*/ .SkinBox .BoxBL { width:12px; height:12px; background: url(dks-box-bl.png) no-repeat top left; }
/*-- bottom edge                   --*/ .SkinBox .BoxB { height:12px; background: url(dks-box-b.png) repeat-x top left; }
/*-- bottom right corner           --*/ .SkinBox .BoxBR { width:12px; height:12px; background: url(dks-box-br.png) no-repeat top right; }

/*==========================================================*/
/*  End Style Sheet                                         */
/*==========================================================*/



