/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Evan O'Neil                        */
/*              http://www.NukeVille.com                  */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- conatiner title token             --*/ .EON_MI_OCF06Title { font-size: 11px; font-family: tahoma; color: #FFF; font-weight: bold; }
/*-- container title cell              --*/ .EON_MI_OCF06Titletd { width:100%; padding: 0;}
/*-- container actions cell            --*/ .EON_MI_OCF06Actionstd { width:0%; padding: 0;}
/*-- container content pane            --*/ .EON_MI_OCF06Content { font-size: 11px; font-family: tahoma; color: #FFF; text-align:left; padding: 5px 0 0 0;}
/*-- container content table           --*/ .EON_MI_OCF06ContentTable {background: url(06m_Minimalist.png);}
/*-- container Icons cell              --*/ .EON_MI_OCF06Icons { text-align:right; padding: 5px 0 7px 0; border-top: 1px solid #666;}

/*-- top center section                --*/ .EON_MI_OCF06T { background: url(06t_Minimalist.png) top left repeat-x; vertical-align:middle; height: 28px; padding: 2px 0 0 0; }
/*-- top left section                  --*/ .EON_MI_OCF06TL { background: url(06tl_Minimalist.png) top left no-repeat; vertical-align:top; height: 28px; width:10px; padding: 0; }
/*-- top right section                 --*/ .EON_MI_OCF06tr { background: url(06tr_Minimalist.png) top right no-repeat; height: 28px; width:22px; vertical-align:middle; text-align:left; padding: 0 0 2px 0; }

/*-- mid center section                --*/ .EON_MI_OCF06M { background: url(06m_Minimalist.png); vertical-align:top; padding: 0; }
/*-- mid left section                  --*/ .EON_MI_OCF06ML { background: url(06ml_Minimalist.png) bottom left repeat-y; vertical-align:top; width:10px; padding: 0; }
/*-- mid right section                 --*/ .EON_MI_OCF06MR { background: url(06mr_Minimalist.png) bottom right repeat-y; vertical-align:top; width:10px; padding: 0; }

/*-- bottom center section             --*/ .EON_MI_OCF06B { background: url(06b_Minimalist.png) bottom left repeat-x; vertical-align:top; height: 17px; padding: 8px 0 0 0; }
/*-- bottom left section               --*/ .EON_MI_OCF06BL { background: url(06bl_Minimalist.png) bottom left no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }
/*-- bottom right section              --*/ .EON_MI_OCF06BR { background: url(06br_Minimalist.png) bottom right no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }

/*========================================================*/

