.pncContentTabstrip {
	background: url(images/tab_background.gif) repeat-x bottom;	
	width: 95%;
	padding: 0px 0px 0px 7px;
	line-height: normal;
	height: 21px;
}
	  
.pncContentTabstrip ul {
	padding: 0;
	margin: 0;
	list-style: none;
	} 
	  
.pncContentTabstrip li {
	float: left;
	display:inline;
	margin: 0;
	padding: 0;
    width: auto;
	}
	
.pncContentTabstrip a {
	font: normal 11px Tahoma, Arial, Verdana, sans-serif;  
	float:left;
	background:url(images/left_both.gif) no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	border-bottom: 1px solid #919B9C;
	text-decoration: none;
	width: auto;
	cursor: default;
	}
	
.pncContentTabstrip a span {
	float: left;
	display: block;
	background: url(images/right_both.gif) right top;
	padding: 5px 6px 2px 2px;
	font-weight: normal;
	color: black;
	width: auto;
	text-align: center;
	line-height: normal;
	font: normal 11px Tahoma, Arial, Verdana, sans-serif;
	text-decoration: none; 
	}

.pncContentTabstrip ul li a:visited {
	font: normal 11px Tahoma, Arial, Verdana, sans-serif; 
	text-decoration: none;
	color: black;
	}
	
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.pncContentTabstrip a span {float:none;}
/* End IE5-Mac hack */
	
.pncContentTabstrip a:hover span {
	color:black;
	text-decoration: none;
	cursor: default;	
	}

.pncContentTabstrip .selected a {
	font: normal 11px Tahoma, Arial, Verdana, sans-serif;  
    background-position: 0 -34px;
    border-width: 0;
	margin-top: -2x;	
    }
	
.pncContentTabstrip .selected a:hover {
    background-position:0 -34px;
    cursor: default;
    }

.pncContentTabstrip .selected a:hover span {
    background-position: 100% -34px;
    cursor: default;
    }		
    
.pncContentTabstrip .selected a span {
	background-position: 100% -34px;
	padding-top: 3px;
	padding-bottom: 5px;
	/*color:#333;*/
	margin-top: 0px;
	}
  	 
li.pncOptionTab .selected
	{
	margin-top: 5px;
	}
	  
.pncContentTabstrip a:hover {
	background-position: 0% -32px;
	cursor: default;
    }

.pncContentTabstrip a:hover span {
	background-position: 100% -32px;
	cursor: default;
	}

.pncTabpanel {
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
	background-color: #FCFCFE;
	float: none;
	border-left: 1px solid #919B9C;
	border-right: 1px solid #919B9C;
	border-bottom: 1px solid #919B9C;
	width: 95%;
	}
	 


.pncContent_CommandButton, a.pncContent_CommandButton, a.pncContent_CommandButton:link, a.pncContent_CommandButton:visited, a.pncContent_CommandButton:active {
	 background: url('Images/linkbutton_bg.gif') repeat-x bottom center;	 
	 border-left: 1px solid #CDCDCD;
	 border-right: 1px solid #CDCDCD;
	 border-top: 1px solid #CDCDCD;
	 border-bottom: 1px solid #CDCDCD;
     padding-top: 2px;
	 padding-bottom: 2px;
	 padding-left: 4px;
	 padding-right: 4px;
     text-align: center;    
     height: 20px;
     width: auto;
     font-family: Tahoma; 
     font-size: 11px;
     font-weight: normal;     
	 color: #403F3F;  
     filter:progid:DXImageTransform.Microsoft.Shadow(color='#CDCDCD', Direction=135, Strength=2) ;  
}

a.pncContent_CommandButton:hover 
{
    border-left: 1px solid #232323;
	border-right: 1px solid #232323;
	border-top: 1px solid #232323;
	border-bottom: 1px solid #232323;
	color: #232323;	
	text-decoration: none;
    cursor: default;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#CDCDCD', Direction=135, Strength=2) ;
}

.pncContent_Success 
{
	color: Green;
	font-weight: bold;
	font-size: 12px;
}

.pncContent_Error 
{
	color: Red;
	font-weight: bold;
	font-size: 12px;
}
.pncContent_IconCell 
{
	
}
.pncContent_HeaderCell
{
	padding-left: 10px;
	padding-top: 10px;
}
.pncContent_MessageCell
{
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.pncContent_StatusCell
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pncContent_DescriptionCell
{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.pncContent_HeaderRow
{
	
}
.pncContent_ItemRow
{
	
}
.pncContent_ButtonPadding
{
	padding-top: 2px;	
}
	
