<h1>Listing targets</h1>

<table id="targets-table">
  <tr>
    <th>Goal</th>
    <th>Index</th>
    <th>Keyword</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Target</a>