<h1>New target</h1>

<form id="new-target" name="target">
  <div class="field">
    <label for="goal_id"> goal_id:</label>
    <input type="text" name="goal_id" id="goal_id" value="<%= goal_id %>" >
  </div>

  <div class="field">
    <label for="index"> index:</label>
    <input type="text" name="index" id="index" value="<%= index %>" >
  </div>

  <div class="field">
    <label for="keyword"> keyword:</label>
    <input type="text" name="keyword" id="keyword" value="<%= keyword %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Target" />
  </div>

</form>

<a href="#/index">Back</a>