<h1>Edit indicator</h1>

<form id="edit-indicator" name="indicator">
  <div class="field">
    <label for="headline_id"> headline_id:</label>
    <input type="text" name="headline_id" id="headline_id" value="<%= headline_id %>" >
  </div>

  <div class="field">
    <label for="partner_id"> partner_id:</label>
    <input type="text" name="partner_id" id="partner_id" value="<%= partner_id %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="position"> position:</label>
    <input type="text" name="position" id="position" value="<%= position %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Indicator" />
  </div>

</form>

<a href="#/index">Back</a>