<div id="indicators-results-controls">
  <h1>Select an indicator to view full details.</h1>
  <a href="#" class="reset-filters">Clear</a>
</div>
<div id="indicators-container"></div>
<div class="sidebar-div">
<a href="http://www.surveymonkey.com/s/LF5WW9W" class="btn btn-mini right">+ Suggest a new indicator</a>
</div>
<div class="sidebar-div indicators-count-wrapper">
  <div id="indicators-count"><span></span> of 29</div>
</div>
<div class="sidebar-div legend-for-indicators">
  Number of indicators
  <div id="indicators-count-legend"></div>
</div>
