<div id="indicators-results-controls" class="row-fluid">
  <div class="span3">
    <div id="indicators-count"><span></span> of 29</div>
  </div>
  <div class="span6">
    <span>Matching indicators</span>
  </div>
  <div class="span3">
    <a href="#" class="reset-filters">Clear</a>
  </div>
</div>
<div id="indicators-container"></div>
