<p>
  <b>Headline:</b>
  <%= headline_id %>
</p>

<p>
  <b>Partner:</b>
  <%= partner_id %>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Position:</b>
  <%= position %>
</p>


<a href="#/index">Back</a>